root = true

[*]
max_line_length = 120
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space
indent_size = 2

[*.{gradle,java,kt,kts,py,pyw}]
indent_size = 4

[*.{kt,kts}]
ij_kotlin_imports_layout=*,java.**,javax.**,kotlin.**,^
ktlint_experimental=disabled
ktlint_annotation=disabled
ktlint_enum-entry-name-case=disabled
ktlint_filename=disabled
ij_kotlin_allow_trailing_comma = true
ij_kotlin_allow_trailing_comma_on_call_site = true
ij_kotlin_name_count_to_use_star_import = 1000000
ij_kotlin_name_count_to_use_star_import_for_members = 1000000
ij_kotlin_packages_to_use_import_on_demand = unset
