root = true

[*]
max_line_length = 120
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space
indent_size = 2

[*.{gradle,java,kt,kts,py,pyw}]
indent_size = 4

[*.{kt,kts}]
# Configure linters to match default Android Studio behavior
disabled_rules=import-ordering,no-wildcard-imports
