*.iml
.gradle
.kotlin
/local.properties
/.credentials
/secrets.properties
/.idea
/.venv
.DS_Store
/build
*/build
/captures
/docs/reference/
/docs/index.md
/docs/changelog.md
/site
.externalNativeBuild
.cxx
/kotlin-js-store
*.podspec
