*.iml
.gradle
/local.properties
/secrets.properties
/.idea/.name
/.idea/caches
/.idea/dictionaries
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/.venv
.DS_Store
/build
/captures
/docs/core
/docs/reactivestate
/docs/index.md
/docs/changelog.md
/site
.externalNativeBuild
.cxx
